@import url("default.css");

@font-face {
  font-family:'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../icon/iconfont.woff2') format('woff2'),
      url('../icon/iconfont.woff') format('woff'),
      url('../icon/iconfont.ttf') format('truetype'),
      url('../icon/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#abc{
	height: 1000px;
	width: 10px;
}

/* 导航栏 */

#head{
	background-color: #e3e4e5;
	border-bottom: 1px solid #ddd;
	//overflow: hidden;
}

#head #center{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
	font-size: 0;
}

#head #center #place{
	height: 30px;
	font-size: 0;
	line-height: 30px;
}

#head #center #place span{
	margin-right: 4px;
	color: #f10215;
	font-size: 18px;
}

#head #center a{
	vertical-align: 2px;
	color: #999;
	font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}

#head #center a:hover{
	color: #e33333;
}

#head #center .first{
	height: 30px;
	border: none;
}

#head #center .first>li{
	float: left;
	width: 48px;
	height: 30px;
	text-align: center;
	color: #999;
	font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
	padding: 0 7px 0px 7px;
	border: 1px solid #e3e4e5;
	border-bottom: none;
	border-top: none;
	font-weight: 28px;
	position: relative;
	z-index: 6;
}

#head #center .first>li .cont{
	width: 170px;
	font-size: 12px;
	border: 1px solid #ccc;
	position: absolute;
	top: 30px;
	right: -1px;
	text-align: left;
	padding-bottom: 20px;
	padding-left: 10px;
	background-color: #FFFFFF;
	z-index: 5;
	display: none;
}

#head #center .first>li .cont::before{
	content: "";
	display: block;
	width: 82px;
	height: 1px;
	background-color: #fff;
	position: relative;
	right: -88px;
	top: -1px;
}

#head #center .first>li .cont .dotted{
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

#head #center .first>li .cont>p{
	font-weight: bold;
	color: #666666;
	line-height: 22px;
	margin-top: 10px;
}

#head #center .first .icon{
	width: 68px;
	padding-right: 7px;
}

#head #center .first .icon li{
	float: left;
	height: 22px;
	width: 85px;
}

#head #center .first .ha:hover{
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top: none;
	line-height: 31px;
}

#head #center .first .ha{
	height: 30px;
	line-height: 30px;
	padding-bottom: none;
}

#head #center .first .ha:hover a{
	color: #999999;
}

#head #center .first .ha:hover .cont{
	display: block;
}

#head #center .first .line{
	width: auto;
	height: 13px;
	margin: 0 3px;
	overflow: hidden;
	margin-top: 8px;
	padding: 0;
	text-align: center;
	font-weight: 10;
	color: #cccccc;
	border: none;
	cursor: default;
}

#head #center .first .double{
	width: auto;
	height: 26px;
	padding: 0 7px 2px 7px;
}

#head #center .first .red{
	color: #e33333;
}

#head #center .first a{
	line-height: 30px;
}

#head #center .first span{
	width: 12px;
	height: 12px;
	font-size: 8px;
	vertical-align: 2px;
	margin-left: 5px;
}


/* 搜索区 */


#seek{
	height: 140px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	overflow: hidden;
}

#seek #center{
	height: 140px;
	width: 1190px ;
	margin: 0 auto;
}

#seek #center #logo{	
	width: 190px;
	height: 119px;
	float: left;
	overflow: hidden;
	margin-top: 10px;
}

#seek #center #right{
	display: flex;
	margin-top: 5px;
	width: 76px;
	height: 76px;
	float: right;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 2px 8px rgba(0,0,0,.1);
}


#seek #center #right img{
	width: 66px;
	height: 66px;
}

#seek #center #box{
	display: inline-block;
	width: 762px;
	height: 115px;
	padding-top: 25px;
	
}

#seek #center #box #input{
	width: 546px;
	height: 32px;
	border: 2px solid #e2231a;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	margin-right: 20px;
}

#seek #center #box #input button{
	height: 34px;
	width: 58px;
	background-color: #e2231a;
	border: none;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin-top: -1px;
}

#seek #center #box #input #camera{
	line-height: 32px;
	font-size: 12px;
	color: #999;
	margin-right: 12px;
}

#seek #center #box #input .text{
	border: none;
	width: 425px;
	height: 26px;
	padding: 2px 0px 2px 17px;
	margin-top: 1px;
	margin-left: 1px;
	outline: none;
	position: absolute;
	z-index: 2;
	background-color: transparent;
	font-size: 12px;
}


#seek #center #box #buycar{
	box-sizing: content-box;
	width: 130px;
	height: 34px;
	border: 1px solid #e3e4e5;
	color: #e1251b;
	font-size: 0px;
	background-color: transparent;
	outline: none;
}

#seek #center #box #buycar span{
	font-size: 20px;
	margin-right: 10px;
	font-weight: bold;
}	

#seek #center #box #buycar a{
	font-size: 12px;
	line-height: 34px;
	vertical-align: 2px;
	color: #e1251b;
}

#seek #center #box #little{
	display: inline-block;
	width: 550px;
	height: 20px;
	padding-top: 5px;
	margin-left: 60px;
}

#seek #center #box #little li{
	float: left;
	font-size: 12px;
	margin-right: 10px;	
}

#seek #center #box #little li a{
	color: #999;
}


#seek #center #box #little #li1 a{
	color: #e1251b;
}

#seek #center #box #little a:hover{
	color: #e1251b;
}

#seek #center #box #big a:hover{
	color: #e1251b;
}

#seek #center #box #big {
	margin-top: 20px;
	margin-left: 15px;
}

#seek #center #box #big li{
	float: left;
	margin-right: 21px;
	font-size: 0;
}

#seek #center #box #big lir{
		margin: 0;
}

#seek #center #box #big li a{
	font-size: 15px;
}

#seek #center #box #big #li a{
	font-weight: bold;
	color: #e1251b;
}

#seek #center #box #big a{
	color: #333;
}


/* 内容区 */

#content{
	height: 480px;
	width: 1190px;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 0;
}

#content #left{
	width: 190px;
	height: 450px;
	padding: 10px 0;
	background-color: #fefefe;
	position: relative;
}

#content #left ul li{
	box-sizing: border-box;
	width: 190px;
	height: 25px;
	padding-left: 16px;
	font-size: 12px;
	transition: background-color 0.3s;
}

#content #left ul li #eject{
	display: inline-block;
	height: 470px;
	width: 0px;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 192px;
	z-index: 2;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	color: #666666;
	font-size: 20px;
	text-align: center;
	line-height: 470px;
	overflow: hidden;
}

#content #left a{
	width: 190px;
	color: #333;
	line-height: 25px;
	font-size: 14px;
	margin: 0 2px;
}

#content #left a:hover{
	color: #e1251b;
}

#content #left li:hover{
	background-color: #d9d9d9;
}

#content #left li:hover #eject{
	width: 1000px;
	
} 

#content #center{
	display: inline-block;
	width: 790px;
	height: 480px;
	margin-left: 10px;
}

#content #center #img{
	width: 590px;
	height: 470px;
	position: relative;
	overflow: hidden;
}

#content #center #img img{
	width: 590px;
	height: 470px;
}

#content #center #right{
	display: inline-block;
	width: 190px;
	height: 470px;
	margin-left: 10px;
	font-size: 0;
	position: relative;
}

#content #center #right img{
	width: 190px;
	height: 150px;
	position: relative;
}

#content #center #right .mb10{
	margin-bottom: 10px;
}

#content #center button{
	width: 25px;
	height: 35px;
	background-color: rgba(66, 66, 66, 0.3);
	position: absolute;
	border: none;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	line-height: 35px;
	cursor: pointer;
	transition: background-color 0.3s;
}


#content #center .but1, .but3{
	border-radius: 0 20px 20px 0;
	padding-right: 8px;
}

#content #center .but2, .but4{
	border-radius: 20px 0 0 20px;
	padding-left: 8px;
}

#content #center #img .but1{
	top: 50%;
	margin-top: -17px;
	left: 0;
}

#content #center #img .but2{
	top: 50%;
	margin-top: -17px;
	right: 0;
}

#content #center #img .mia li{
	float: left;
	
}

#content #center #img .mia{
	font-size: 0;
	width: 5310px;
	height: 470px;
	position: absolute;
	left: 0;
	top: 0;
}

#content #center #img .dian li{
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: rgba(95, 108, 96, 0.2);
	transition:  1s;
}

#content #center #img .dian{
	position: absolute;
	left: 20px;
	bottom: 20px;
	height: 18px;
	width: 110px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

#content #center #right .but3{
	top: 50%;
	margin-top: -17px;
	left: 0;
}

#content #center #right .but4{
	top: 50%;
	margin-top: -17px;
	right: 0;
}

#content #center #right .but3,
#content #center #right .but4{
	display: none; 
}

#content #center #right:hover .but3,
#content #center #right:hover .but4{
	display: block;
}

#content #center button:hover{
	background-color: rgba(0, 0, 0, .3);
}


#content #bestright{
	display: inline-block;
	width: 190px;
	height: 470px;
	margin-left: 10px;
	background-color: #FFFFFF;
}

#content #bestright #user{
	width: 190px;
	height: 102px;
}

#content #bestright #user::after{
	content: '';
	display: block;
	height: 1px;
	width: 160px;
	margin: 0 auto;
	background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
}

#content #bestright #user ul{
	box-sizing: border-box;
	height: 67px;
	width: 190px;
	padding-left: 20px;
	padding-top: 13px;
}

#content #bestright #user ul .text{
	margin-top: 3px;
	margin-bottom: 3px;
}

#content #bestright #user ul  .top{
	margin-top: -2px;
}

#content #bestright #user img{
	width: 40px;
	height: 40px;
}

#content #bestright #user #img{
	width: 40px;
	height: 40px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

#content #bestright #user ul a{
	font-size: 12px;
	color: #666666;
	line-height: 18px;
}

#content #bestright #user #button{
	height: 35px;
	width: 190px;
	box-sizing: border-box;
	padding: 0 15px;
}

#content #bestright #user #button button{
	width: 70px;
	height: 25px;
	margin: 0 5px;
	border: none;
	border-radius: 15px;
	font-size: 12px;
	line-height: 25px;
}

#content #bestright #user #button .b1{
	background-color: #e1251b;
	color: #FFFFFF;
}

#content #bestright #user #button .b2{
	background-color: #363634;
	color: #e5d790;
}

#content #bestright #news{
	width: 190px;
	height: 130px;
	font-size: 12px;
}

#content #bestright #news #one{
	box-sizing: border-box;
	width: 190px;
	height: 30px;
	margin-bottom: 8px;
	line-height: 20px;
	padding: 10px 15px 0 15px;
}

#content #bestright #news #one .fl{
	font-size: 14px;
	font-weight: bold;
}

#content #bestright #news #one .fr a{
	color: #999999;
}

#content #bestright #news #one span{
	font-size: 10px;
	margin-left: 5px;
}

#content #bestright #news #two{
	font-size: 0;
	width: 190px;
	height: 88px;
	box-sizing: border-box;
	margin: 0 15px;
	margin-bottom: 4px;
}

#content #bestright #news #two li{
	width: 160px;
	height: 16px;
	margin-bottom: 6px;
}

#content #bestright #news #two a{
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
}

#content #bestright #news #two .left{
	width: 35px;
	height: 16px;
	margin-right: 6px;
	background-color: rgba(225,37,27,.08);
	color: #e1251b;
	text-align: center;
	line-height: 16px;
	float: left;
}

#content #bestright #news #two .right{
	width: 119px;
	color: #666666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#content #bestright #news::after{
	content: '';
	display: block;
	height: 1px;
	width: 160;
	margin: 0 auto;
	background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
}

#content #bestright #live{
	width: 190px;
	height: 238px;
	box-sizing: border-box;
	font-size: 0;
	padding: 5px 0;
}

#content #bestright #live ul{
	padding-top: 5px;
}

#content #bestright #live li{
	float: left;
	width: 63px;
	height: 55px;
	vertical-align: center;
}

#content #bestright #live p{
	transition: background-image 0.3s;
}

#content #bestright #live .p1{
	width: 28px;
	height: 28px;
	background: url(../images/rb1.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}

#content #bestright #live .p2{
	width: 28px;
	height: 28px;
	background: url(../images/rb2.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p3{
	width: 28px;
	height: 28px;
	background: url(../images/rb3.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p4{
	width: 28px;
	height: 28px;
	background: url(../images/rb4.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p5{
	width: 28px;
	height: 28px;
	background: url(../images/rb5.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p6{
	width: 28px;
	height: 28px;
	background: url(../images/rb6.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p7{
	width: 28px;
	height: 28px;
	background: url(../images/rb7.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p8{
	width: 28px;
	height: 28px;
	background: url(../images/rb8.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p9{
	width: 28px;
	height: 28px;
	background: url(../images/rb9.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p10{
	width: 28px;
	height: 28px;
	background: url(../images/rb10.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p11{
	width: 28px;
	height: 28px;
	background: url(../images/rb11.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}
#content #bestright #live .p12{
	width: 28px;
	height: 28px;
	background: url(../images/rb12.png) no-repeat;
	background-size: 28px 28px;
	margin: 0 auto;
}

#content #bestright #live a{
	width: 63px;
	height: 55px;
	color: #333333;
}


#content #bestright #live span{
	display: block;
	width: 63px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
}

#content #bestright #live a:hover{
	color: #c81623;
}

#content #bestright #live a:hover .p1{
	background: url(../images/rb1red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p2{
	background: url(../images/rb2red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p3{
	background: url(../images/rb3red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p4{
	background: url(../images/rb4red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p5{
	background: url(../images/rb5red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p6{
	background: url(../images/rb6red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p7{
	background: url(../images/rb7red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p8{
	background: url(../images/rb8red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p9{
	background: url(../images/rb9red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p10{
	background: url(../images/rb10red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p11{
	background: url(../images/rb11red.png) no-repeat;
	background-size: 28px 28px;
}
#content #bestright #live a:hover .p12{
	background: url(../images/rb12red.png) no-repeat;
	background-size: 28px 28px;
}

#content #last{
	width: 1190px;
	height: 260px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 0;
}

#content #last #left{
	box-sizing: border-box;
	float: left;
	width: 190px;
	height: 100%;
	background-image: url(../images/dian.png);
	text-align: center;
}

#content #last #left #jd{
	font-size: 30px;
	color: #FFFFFF;	
	font-weight: 600;
	display: block;
	margin-top: 31px;
}

#content #last #left #kill{
	width: 190px;
	margin-top: 90px;
}

#content #last #left #time{
	display: inline-block;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
}

#content #last #left #place{
	display: inline-block;
	font-size: 14px;
	color: #FFFFFF;
	vertical-align: 2px;
}

#content #last #left #jishi{
	width: 190px;
	font-size: 0;
	margin-top: 10px;
}

#content #last #left #jishi span{
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 18px;
	color: white;
	font-weight: bold;
	background-color: #333333;
	text-align: center;
	line-height: 30px;
	margin-right: 20px;
	position: relative;
}

#content #last #left #jishi span::after{
	content: ':';
	display: block;
	font-size: 18px;
	color: white;
	font-weight: bold;
	width: 20px;
	right: -20px;
	height: 100%;
	position: absolute;
	top: 0;
}

#content #last #left #jishi #s3{
	margin: 0;
}
#content #last #left #jishi #s3::after{
	content: '';
}

#content #last #right{
	box-sizing: border-box;
	float: right;
	width: 200px;
	height: 100%;
	padding: 10px;
	padding: 10px;
	background-color: #FFFFFF;
}

#content #last #right img{
	width: 120px;
	height: 120px;
	margin: 20px 30px 0 30px;
}

#content #last #right #text{
	width: 100%;
	height: 90px;
	text-align: center;
	padding-top: 10px;
	position: relative;
	background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
}

#content #last #right #text span{
	display: block;
	font-size: 14px;
	color: #666;
	line-height: 1.5;
}

#content #last #right #text #white{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

#content #last #right #text button{
	width: 76px;
	height: 24px;
	border-radius: 15px;
	border: 1px solid #e1251b;
	background-color: transparent;
	color: #e1251b;
	font-weight: bold;
	font-size: 12px;
	margin-top: 4px;
	text-align: center;
	line-height: 22px;
	transition: 0.3s;
	cursor: pointer;
}

#content #last #right #text #big:hover{
	background-color: #e1251b;
	color: #FFFFFF;
}

#content #last #right #text li{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #999;
	margin-right: 4px;
	float: left;
	background-color: #e1251b;
}

#content #last #right #text ul{
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -6px;
}

#content #last #right #text #two{
	margin: 0;
	background-color: #999999;
}

#content #last #middle{
	display: inline-block;
	width: 800px;
	height: 100%;
	background-color: #FFFFFF;
	font-size: 0;
	position: relative;
}

#content #last #middle a{
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	width: 200px;
	text-align: center;
}

#content #last #middle a::after{
	content: '';
	display: block;
	height: 200px;
	width: 1px;
	position: relative;
	top: -200px;
	right: 0;
	background: linear-gradient(180deg,white,#eeeeee,white);
}

#content #last #middle a img{
	margin: 30px 30px 0 30px;
	width: 140px;
	height: 140px;
}

#content #last #middle a span{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 13px 20px 0 20px;
}

#content #last #middle a span:hover{
	color: #e1251b;
}

#content #last #middle a button{
	border: 1px solid #e1251b;
	outline: none;
	margin-top: 7px;
}

#content #last #middle #but1{
	width: 93px;
	height: 24px;
	background-color: #e1251b;
	color: #FFFFFF;
	border-right: none;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

#content #last #middle #but2{
	width: 63px;
	height: 24px;
	background-color: #FFFFFF;
	color: #999;
	border-left: none;
	text-decoration: line-through;
}
#content #last #middle #but1::after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-width: 22px 8px 0 0;
	border-style: solid;
	border-color:  transparent #FFFFFF transparent transparent;
	position: absolute;
	top: 0;
	right: 0px;
}


#content #last #middle #leftbut,#content #last #middle #rightbut{
	width: 25px;
	height: 35px;
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
}

#content #last #middle #leftbut{
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	left: 0;
	top: 50%;
	margin-top: -17px;
}

#content #last #middle #rightbut{
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	right: 0;
	top: 50%;
	margin-top: -17px;
}

#content #last #middle #rightbut:hover,#content #last #middle #leftbut:hover{
	background-color: rgba(0,0,0,0.3);
}

#content #ding{
	font-size: 0;
	position: fixed;
	//top: 0;
	//margin-top: -180px;
	right: 90px;
}

#content #ding li{
	font-size: 14px;
	color: #333333;
	width: 58px;
	height: 60px;
	word-break: keep-all;
	position: relative;
	text-align: center;
	line-height: 16px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	overflow: hidden;
}

#content #ding li a{
	display: block;
	padding-top: 10px;
	width: 100%;
	height: 60px;
	color: #333333;
	transition: 0.2s;
	line-height: 19px;
}

#content #ding li a span{
	display: block;
	font-size: 20px;
	line-height: 26px;
}

#content #ding li .c1{
	color: #e1251b;
}

#content #ding li::after{
	content: '';
	display: block;
	border: none;
	height: 1px;
	width: 40px;
	background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
	position: absolute;
	bottom: 0;
	left: 10px;
	transition: 0.2s;
}

#content #ding li a:hover{
	background-color: #c81623;
	color: #FFFFFF;
}

#content #ding li:hover::after{
	width: 0;
	height: 0;
}

#content{
	position: relative;
}
 
#fix{
	position: absolute;
	top: 10px;
	left: -272px;
	font-size: 0;
	overflow: hidden;
	cursor: pointer;
}

#fix #frist{
	float: left;
	width: 272px;
	height: 470px;
	background-image: url(../images/fix.png.webp);
	position: relative;
	z-index: 2;
}

#fix #next{
	float: left;
	width: 0px;
	height: 470px;
	background-image: url(../images/fix2.jpg.webp);
	transition: width 0.25s linear;
	position: relative;
}

#next::after{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(../images/cha.jpg);
	background-size: 20px 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	transition: display 0.3s;
}

.black{
	display: none;
}

#fix:hover #next{
	width: 790px;
}

#fix:hover #next::after{
	display: block;
}

#scrolls{
	height: 50px;
	position: fixed;
	background-color: #fff;
	z-index: 3;
	transition: top 0.5s;
	top: -50px;
}

#scrolls .content{
	height: 50px;
	width: 1190px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#scrolls .content .littleLogo{
	float: left;
	width: 125px;
	height: 40px;
	background-image: url(../images/logo.png);
	background-position: left 0 bottom 0; 
}

#scrolls #buycar{
	box-sizing: content-box;
	width: 130px;
	height: 34px;
	border: 1px solid #e3e4e5;
	color: #e1251b;
	font-size: 0px;
	background-color: transparent;
	outline: none;
	cursor: auto;
}

#scrolls #buycar span{
	font-size: 20px;
	margin-right: 10px;
	font-weight: bold;
}

#scrolls #buycar a{
	font-size: 12px;
	line-height: 34px;
	vertical-align: 2px;
	color: #e1251b;	
}


#scrolls #input{
	width: 546px;
	height: 32px;
	border: 2px solid #e2231a;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	margin-right: 20px;
	margin-left: 135px;
}

#scrolls #input button{
	height: 34px;
	width: 58px;
	background-color: #e2231a;
	border: none;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin-top: -1px;
	margin-right: -1px;
}

#scrolls #input #camera{
	line-height: 32px;
	font-size: 12px;
	color: #999;
	margin-right: 12px;
}

#scrolls #input .text{
	border: none;
	width: 425px;
	height: 26px;
	padding: 2px 0px 2px 17px;
	margin-top: 1px;
	margin-left: 1px;
	outline: none;
	position: absolute;
	z-index: 2;
	background-color: transparent;
	font-size: 12px;
}
#text::-webkit-input-placeholder{
        color: #ADD8E6;
}